<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KursovayaRabota.Properties.Settings.TOSystemConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DatabaseRelated\TOSystem.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="KursovayaRabota.Properties.Settings.ProperSystemConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TOSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>